{% extends 'blog/base.html' %}

{% block content %}
    <div class="about">
    	<div class="main-photo">
		</div>
    	<div class="info__about">
    		<h1 class="salutation"> Привет! </h1>
    		<div class="info__buttons">
    			<button class="button button1">Резюме</button>
				<button class="button button2">Что-то</button>
				<button class="button button3">Сюрприз</button>
    		</div>
    		<p class="info__text">
    			Это текст. Нажмите один раз и выберите «Редактировать текст» или просто кликните дважды, чтобы добавить свой текст и настроить шрифт. Здесь вы можете рассказать посетителям подробнее о себе. Чтобы удалить этот текст, нажмите один раз и выберите значок «Корзина».
    		</p>
    	</div>
    </div>
{% endblock %}